.top-nav {
  height: 6.5rem;
  text-align: right;

}


.logo {
  float: left;
  padding: 1rem 0;
  text-align: center;
  width: 30%;

}

.logo img {
    height: 25%;
    width: 25%;
}

.top-nav ul {
  margin:0;
  width: 60%;
  list-style: none;
  padding:1.5em 2rem 0 0;
  float:right;
  /*background-color: #660000;*/
}

  .top-nav ul li a {
  display: inline-block;
  margin-right: 2em;
  float: right;
  text-align: right;
  text-decoration: none;
  font-size: 1.5rem;
  color: #003333;

}

.top-nav li {
  display: inline-block;
}


.logo img {
  border-radius: 50%;
}


.masthead {
  background-image: url('../images/web-dev.jpg');
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  color: white;
}

.masthead > div {
  text-align: center;
  padding: 6em 0;
  font-size: x-large;
  letter-spacing: 1px;

}

.introduction {
  color: black;
  padding-left: 2rem;
  /*text-align: center;*/
  width: 80%;

}

.projects h2 {
  color: black;
  padding-left: 2rem;
  padding-top: 2rem;
}

.projects img {
  max-width:100%;
  max-height:100%;
}

.footer-content li {
  display: inline-block;
  text-align: center;

}

.footer ul li a {
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  color: black;

}

.footer-content {
  text-align: center;
  padding-top: 2rem;
}

ul li a:hover {
 color: grey;
}

    @media only screen and (max-width: 450px) {
        .top-nav ul li a {

            font-size: .95em;
          }
        .top-nav ul{
          padding-right: 5%;
        }
        .logo img{
          width: 50%;
          height: 50%;
        }

    }




    @media only screen and (max-width: 700px) {
        .footer ul li a {

            font-size: 12px;

          }

        .logo img{
          width: 40%;
          height: 40%;
        }


      }






body{
  font-family: 'Roboto', sans-serif;

}
